<section class="about-us-section">
    <div class="about-content">
        <h2>Acerca de nosotros</h2>
        <p>Somos un equipo Docente empeñados en hacer relucir el potencial de cada alumno, a base de prácticas guiadas.</p>
    </div>
</section>
