<section class="about-us-section">
    <div class="about-content">
        <h2>Contáctanos</h2>
        <p>¿Tienes dudas o necesitas más información? Estamos aquí para ayudarte. Nuestro equipo docente está comprometido a potenciar las habilidades de cada alumno mediante prácticas guiadas, acompañamiento personalizado y una enseñanza centrada en el desarrollo real de competencias.</p>
        <p>Nuestro correo es <a href="#" target="_blank" >equipodocente@edu.com.ar</a> </p>

    </div>
</section>