<!DOCTYPE html>
<html lang="en">
<head>
    
  <title><%= title %></title> <!-- título dinámico -->
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
<div class="wrapper">
<div class="main-content">
  <!-- Navbar (componente parcial) -->
  <%- include('partials/navbar') %>

  <!-- Contenido que cambia según la vista -->
  <main>
    <%- body %>
  </main>
</div>
  <!-- Footer (componente parcial) -->
  <%- include('partials/footer') %>
</div>
</body>
</html>