<nav>
  <div class="navbar">
    <a href="/">
      <img src="/images/logo.png" alt="Logo" class="logo">
    </a>
    <ul>
      <li>
        <a href="/">
          <img src="/icons/home.svg" alt="Inicio Icon">
          Inicio
        </a>
      </li>
       <li>
        <a href="/api/heroes">
          <img src="/icons/superhero.svg" alt="Superheroe">
          Superheroes
        </a>
      </li>
      <li>
        <li>
        <a href="/api/heroes/agregar">
          <img src="/icons/add (2).png" alt="Inicio Icon">
           Agregar Superheroe
        </a>
      </li>
        <a href="/about">
          <img src="/icons/info.svg" alt="Acerca de Icon">
          Acerca de
        </a>
      </li>
      <li>
        <a href="/contact">
          <img src="/icons/contact.svg" alt="Contacto Icon">
          Contacto
        </a>
      </li>
    </ul>
  </div>
</nav>